# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Some Pages
/src/app/test-auth/
/src/app/api/auth/debug/
/src/app/api/auth/debug-token/
/src/app/api/auth/env-check/
/src/app/api/auth/test-crypto/
/src/app/api/auth/test-jose/
/src/app/api/auth/test-secret/
/src/app/api/auth/validate/
/src/app/api/auth/validate-secret/
/src/app/api/auth/verify-secret/
